$font: Roboto Condensed, Lato, Arial, sans-serif;

//fix the contact form so that it's side by side.
//animation figure left side
//contact form right side

.background {
  display: grid;
  background-color: #2d465a;
  height: 50vh;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;

  .footer {
    text-align: center;
    font-family: $font;
    color: white;
    font-size: 16px;
  }

  .contact {
    grid-column: span 1;
  }
}
