$font: Roboto Condensed, Lato, Arial, sans-serif;

.background {
  display: grid;
  background-color: #2d465a;
  height: 20vh;
  grid-template-rows: auto;
  grid-template-columns: 1fr;

  .footer {
    display: flex;
    align-self: center;
    justify-self: center;
    text-align: center;
    font-family: $font;
    color: white;
    font-size: 16px;
  }
}
