html,
body {
  // makes background image full screen
  margin: 0;
  padding: 0;

  .container {
    // padding: 10px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      'landing'
      'about'
      'projects'
      'footer';
  }
  .item-landing {
    grid-area: 'landing';
  }
  .item-about {
    grid-area: 'about';
    // background-color: #2d465a;
  }
  .item-projects {
    grid-area: 'projects';
  }
  .item-footer {
    grid-area: 'footer';
    //background-color: red;
  }
}

.font {
  font-family: sans-serif;
  // color: white;
}
